.cover__link {
    position: relative;
    z-index: 1;
    background-color: rgba(42, 44, 47, 0.3019607843);
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}