@font-face {
  font-family: "Inter";
  src: url("../vendors/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../vendors/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../vendors/Inter-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

.body {
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  background: #2a2c2f repeat;
  font-size: 16px;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
}

.container-wide {
  max-width: 1184px;
}

.container-narrow {
  max-width: 984px;
  margin: 0 auto;
}

.header {
  margin: 0 calc(12px + (24 - 12) * ((100vw - 320px) / (768 - 320)));
}

@media (min-width: 768px) {
  .header {
    margin: 0 calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media (min-width: 1024px) {
  .header {
    margin: 0 48px;
  }
}

@media (min-width: 1280px) {
  .header {
    margin: 0 auto;
  }
}

.header__container {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header__container {
    padding-top: 28px;
  }
}

.header__language-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__language-button {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: 6px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__language-button:first-of-type {
  margin-right: 18px;
}

.header__language-button:hover {
  border-bottom: 1px solid #ffffff;
}

@media (min-width: 768px) {
  .header__language-button {
    font-size: 24px;
    line-height: 28px;
  }
}

.header__logo {
  height: 42px;
  width: 142px;
  z-index: 3;
}

@media (min-width: 768px) {
  .header__logo {
    height: 52px;
    width: 176px;
  }
}

.lang-selected {
  border-bottom: 1px solid #ffffff;
}

.lead__container {
  max-width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
}

@media (min-width: 768px) {
  .lead__container {
    max-width: 984px;
    margin: 0 calc(48 * ((100vw - 768px) / (1024 - 768)));
  }
}

@media (min-width: 1024px) {
  .lead__container {
    margin: 0 48px;
  }
}

@media (min-width: 1079px) {
  .lead__container {
    margin: 0 auto;
    padding-top: 56px;
  }
}

.lead__title {
  text-align: center;
  font-weight: 900;
  font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (767 - 320)));
  width: calc(288px + (720 - 288) * ((100vw - 320px) / (767 - 320)));
  line-height: calc(44px + (100 - 44) * ((100vw - 320px) / (767 - 320)));
  margin-top: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .lead__title {
    width: 720px;
    font-size: 96px;
    line-height: 100px;
    margin-bottom: 32px;
  }
}

.lead__subtitle {
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (767 - 320)));
  width: calc(288px + (640 - 288) * ((100vw - 320px) / (767 - 320)));
  line-height: calc(20px + (36 - 20) * ((100vw - 320px) / (767 - 320)));
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .lead__subtitle {
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 56px;
  }
}

@media (min-width: 1080px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}

.lead__image {
  width: 100%;
  min-width: 320px;
}

.lead__image-caption {
  margin-top: 8px;
  margin-bottom: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 24px;
}

@media (min-width: 1024px) {
  .lead__image-caption {
    margin-left: 0;
  }
}

.description {
  margin: 0 auto;
}

.description__container {
  margin: 0 16px;
  padding: 64px 0;
}

@media (min-width: 768px) {
  .description__container {
    margin: 0 24px;
    padding: 88px 0;
  }
}

@media (min-width: 896px) {
  .description__container {
    margin: 0 calc(24px + (48 - 24) * ((100vw - 896px) / (1024 - 896)));
  }
}

@media (min-width: 1024px) {
  .description__container {
    margin: 0 48px;
    padding: 92px 0;
  }
}

@media (min-width: 1080px) {
  .description__container {
    margin: 0 auto;
  }
}

.description__header {
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (min-width: 320px) {
  .description__header {
    font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (768 - 320)));
    width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + (58 - 35) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (min-width: 768px) {
  .description__header {
    font-size: 54px;
    line-height: 58px;
    max-width: 720px;
  }
}

.description__paragraph {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  margin-bottom: 33px;
}

@media (min-width: 1024px) {
  .description__paragraph {
    max-width: 720px;
  }
}

.description__facts-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.description__fact {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.description__fact-accent {
  font-weight: 700;
}

.gallery__container {
  margin: 0 16px;
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (min-width: 768px) {
  .gallery__container {
    margin: 0 24px;
    grid-gap: 16px;
  }
}

@media (min-width: 896px) {
  .gallery__container {
    margin: 0 calc(24px + (48 - 24) * ((100vw - 896px) / (1024 - 896)));
  }
}

@media (min-width: 1024px) {
  .gallery__container {
    margin: 0 48px;
    grid-gap: 14px;
  }
}

@media (min-width: 1280px) {
  .gallery__container {
    grid-gap: 16px;
  }
}

.gallery__image {
  max-width: 100%;
}

.places {
  margin: 0 auto;
}

.places__container {
  padding-top: 64px;
  padding-bottom: 66px;
  margin: 0 16px;
}

@media (min-width: 768px) {
  .places__container {
    margin: 0 calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
    padding-top: 88px;
    padding-bottom: 90px;
  }
}

@media (min-width: 1024px) {
  .places__container {
    margin: 0 calc(48px + (148 - 48) * ((100vw - 1024px) / (1280 - 1024)));
    padding: 92px 0;
  }
}

@media (min-width: 1280px) {
  .places__container {
    margin: 0 auto;
  }
}

.article {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 32px;
  margin-bottom: 50px;
}

.article:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 544px) {
  .article {
    -ms-grid-columns: 47.223% 48.89%;
        grid-template-columns: 47.223% 48.89%;
    grid-column-gap: 28px;
    grid-row-gap: 48px;
    margin-bottom: 72px;
  }
}

@media (min-width: 801px) {
  .article {
    -ms-grid-columns: 47.62% 49.14%;
        grid-template-columns: 47.62% 49.14%;
    grid-column-gap: 32px;
    margin-bottom: 80px;
  }
}

@media (min-width: 1080px) {
  .article {
    -ms-grid-columns: 46.75% 49.19%;
        grid-template-columns: 46.75% 49.19%;
    grid-column-gap: 40px;
  }
}

.article__header {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin: 0;
}

@media (min-width: 768px) {
  .article__header {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (min-width: 1024px) {
  .article__header {
    font-size: 72px;
    line-height: 76px;
  }
}

.article__source {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.article__source-header {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0;
  margin-bottom: 12px;
}

.article__source-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.article__source-link:hover {
  opacity: 0.8;
}

.article__image {
  width: calc(100% + 32px);
  margin-left: -16px;
}

@media (min-width: 544px) {
  .article__image {
    width: 100%;
    margin: 0;
  }
}

.article__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-top: 0;
  margin-bottom: 25px;
}

@media (min-width: 894px) {
  .article__paragraph {
    font-size: 18px;
    margin-bottom: 26px;
  }
}

.article__paragraph:last-of-type {
  margin-bottom: 0;
}

.cover {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover__container {
  position: relative;
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 1024px) {
  .cover__container {
    margin: 0 calc(48 * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media (min-width: 1280px) {
  .cover__container {
    margin: 0 auto;
  }
}

.cover__link {
  position: relative;
  z-index: 1;
  background-color: #2a2c2f4d;
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cover__link-text {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

@media (min-width: 768px) {
  .cover__link-text {
    width: 600px;
  }
}

.cover__link-title {
  width: 288px;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  margin: 0 auto 16px;
  z-index: 2;
}

@media (min-width: 768px) {
  .cover__link-title {
    width: 560px;
    font-size: 72px;
    line-height: 76px;
    margin: 0 auto 32px;
  }
}

.cover__link-subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  width: 288px;
  margin: 0 auto;
  z-index: 2;
}

@media (min-width: 768px) {
  .cover__link-subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}

.cover__link-bcg {
  width: 100%;
  opacity: 0.7;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.cover__link:hover .cover__link-bcg {
  opacity: 0.2;
}

.footer {
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer__container {
  height: 310px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 16px;
  padding-top: 64px;
}

@media (min-width: 690px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 18px;
  }
}

@media (min-width: 768px) {
  .footer__container {
    margin: 0 calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
    padding-top: 88px;
  }
}

@media (min-width: 1024px) {
  .footer__container {
    margin: 0 48px;
    padding-top: 92px;
  }
}

.footer__menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__menu-item {
  margin-bottom: 32px;
}

@media (min-width: 690px) {
  .footer__menu-item {
    display: inline;
    margin-bottom: 0;
  }
  .footer__menu-item:not(:last-of-type) {
    margin-right: 18px;
  }
}

.footer__menu-link {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.footer__menu-link:hover {
  opacity: 0.8;
}

@media (min-width: 690px) {
  .footer__menu-link {
    font-size: 16px;
    line-height: 18px;
  }
}

.footer__author-copyright {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: 690px) {
  .footer__author-copyright {
    line-height: 16px;
  }
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=style.css.map */