.article__header {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
}

@media (min-width: 544px) {
    .article__header {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .article__header {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (min-width: 1024px) {
    .article__header {
        font-size: 72px;
        line-height: 76px;
    }
}