.header__language-button {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: 6px;
  box-sizing: content-box;
}

.header__language-button:first-of-type {
  margin-right: 18px;
}

.header__language-button:hover {
  border-bottom: 1px solid #ffffff;
}

@media (min-width: 768px) {
  .header__language-button {
    font-size: 24px;
    line-height: 28px;
  }
}